*{
    padding: 0px;
    margin: 0px;
}
img{
    height: 300px;

}
body{
    background-size: cover;
}
h1{
    color: rgb(19, 17, 17);
}
.card-body{
background-color: black;
color: bisque;
 border-radius:  20px;
}
a{
    color: black;
    
}